<button id="back-to-top"
        onclick="backToTop();"
        data-timeout="<%- theme.back_to_top.hide_timeout %>"
        data-threshold="<%- theme.back_to_top.height_threshold %>"
        style="visibility: hidden">
    <i class="fas fa-chevron-up"></i>
</button>