:root[data-theme='light'] .color-main {
  color: var(--theme-light-main);
}
:root[data-theme='dark'] .color-main {
  color: var(--theme-dark-main);
}
:root[data-theme='light'] .color-main-dimmed {
  color: var(--theme-light-main-dim);
}
:root[data-theme='dark'] .color-main-dimmed {
  color: var(--theme-dark-main-dim);
}
:root[data-theme='light'] .color-foreground {
  color: var(--theme-light-foreground);
}
:root[data-theme='dark'] .color-foreground {
  color: var(--theme-dark-foreground);
}
:root[data-theme='light'] .color-foreground-dimmed {
  color: var(--theme-light-foreground-dim);
}
:root[data-theme='dark'] .color-foreground-dimmed {
  color: var(--theme-dark-foreground-dim);
}
:root[data-theme='light'] .color-background {
  background: var(--theme-light-background);
}
:root[data-theme='dark'] .color-background {
  background: var(--theme-dark-background);
}
.flex-pull-left {
  margin-right: auto;
}
:root[dir='rtl'] .flex-pull-left {
  margin-left: auto;
  margin-right: unset;
}
.flex-pull-right {
  margin-left: auto;
}
:root[dir='rtl'] .flex-pull-right {
  margin-left: unset;
  margin-right: auto;
}
.flex-margin-r-xs > * {
  margin-right: 0.5rem;
}
:root[dir='rtl'] .flex-margin-r-xs > * {
  margin-left: 0.5rem;
  margin-right: unset;
}
.flex-margin-r-sm > * {
  margin-right: 1rem;
}
:root[dir='rtl'] .flex-margin-r-sm > * {
  margin-left: 1rem;
  margin-right: unset;
}
.flex-margin-l-xs > * {
  margin-left: 0.5rem;
}
:root[dir='rtl'] .flex-margin-l-xs > * {
  margin-left: unset;
  margin-right: 0.5rem;
}
.flex-fill {
  flex-grow: 1;
}
.active-tab {
  font-weight: bold;
}
.active-tab:before {
  content: "[";
}
.active-tab:after {
  content: "]";
}
.no-select {
  user-select: none;
}
a {
  text-decoration: none;
  transition: color 0.3s;
}
:root[data-theme='light'] a {
  color: var(--theme-light-main-dim);
}
:root[data-theme='dark'] a {
  color: var(--theme-dark-main-dim);
}
:root[data-theme='light'] a:hover {
  color: var(--theme-light-main);
}
:root[data-theme='dark'] a:hover {
  color: var(--theme-dark-main);
}
body {
  font-family: sans-serif;
  position: relative;
  margin: 0;
  min-width: 320px;
  transition: background 0.5s, color 0.5s;
}
:root[data-theme='light'] body {
  background: var(--theme-light-background);
}
:root[data-theme='dark'] body {
  background: var(--theme-dark-background);
}
:root[data-theme='light'] body {
  color: var(--theme-light-foreground);
}
:root[data-theme='dark'] body {
  color: var(--theme-dark-foreground);
}
:root,
body {
  height: 100%;
}
#body-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
#body {
  display: flex;
  margin: 4rem 0;
  justify-content: center;
}
#body > * {
  min-width: 0;
}
@media (max-width: 768px) {
  #body {
    margin: 3rem 0;
  }
}
@media (max-width: 425px) {
  #body {
    margin: 2rem 0;
  }
}
#header > * {
  max-width: 2560px;
  margin: auto;
}
#header #header-toolbar {
  user-select: none;
  display: flex;
  padding: 1rem;
}
#header #header-toolbar > * {
  display: flex;
}
#header #header-toolbar .header-nav-tab {
  font-size: large;
  color: inherit;
  text-decoration: none;
  transition: transform 0.2s, filter 0.2s;
  margin-bottom: 0.5rem;
}
#header #header-toolbar .header-nav-tab:not(.active-tab):hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 6px);
}
@media (max-width: 425px) {
  #header #header-toolbar .header-nav-tab {
    font-size: medium;
  }
}
#header #header-toolbar #rss-button {
  color: inherit;
}
#header #header-toolbar #style_toggle {
  cursor: pointer;
  filter: drop-shadow(0 0 4px);
}
:root[data-theme='light'] #header #header-toolbar #style_toggle .fa-sun {
  display: none;
}
:root[data-theme='dark'] #header #header-toolbar #style_toggle .fa-moon {
  display: none;
}
#header #header-nav {
  flex-wrap: wrap;
  margin-right: auto;
}
:root[dir='rtl'] #header #header-nav {
  margin-left: auto;
  margin-right: unset;
}
#header #header-nav > * {
  margin-right: 1rem;
}
:root[dir='rtl'] #header #header-nav > * {
  margin-left: 1rem;
  margin-right: unset;
}
#header #header-button-group {
  margin-left: auto;
}
:root[dir='rtl'] #header #header-button-group {
  margin-left: unset;
  margin-right: auto;
}
#header #header-button-group > * {
  margin-left: 0.5rem;
}
:root[dir='rtl'] #header #header-button-group > * {
  margin-left: unset;
  margin-right: 0.5rem;
}
#header .header-info {
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  line-height: 2;
}
#header .header-info .header-title {
  align-self: center;
  font-size: xx-large;
  padding: 2rem;
}
#header .header-info #home-header-title {
  color: inherit;
  text-decoration: none;
  font-size: 4rem;
  align-self: center;
  transition: transform 0.2s ease-in-out;
}
#header .header-info #home-header-title:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  #header .header-info #home-header-title {
    font-size: 3rem;
  }
}
@media (max-width: 425px) {
  #header .header-info #home-header-title {
    font-size: 2rem;
  }
}
#header .header-info #home-header-subtitle {
  font-size: 1.5rem;
  align-self: flex-end;
  cursor: default;
}
@media (max-width: 425px) {
  #header .header-info #home-header-subtitle {
    font-size: 1rem;
    align-self: center;
  }
}
footer#footer {
  user-select: none;
}
footer#footer .social-list {
  display: flex;
  font-size: xx-large;
  margin: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
footer#footer .social-list a {
  color: inherit;
  margin: 0.5rem;
  transition: filter 0.3s, transform 0.3s;
}
footer#footer .social-list a:hover {
  filter: drop-shadow(0 0 6px);
  transform: scale(1.1);
}
@media (max-width: 425px) {
  footer#footer .social-list a {
    margin: 0.3rem;
    font-size: x-large;
  }
}
footer#footer #footer-signature {
  margin: 1rem;
}
footer#footer #footer-signature a {
  color: inherit;
}
#content-wrap {
  order: 2;
  flex-grow: 1;
  max-width: 768px;
  padding: 0 2rem;
}
@media (max-width: 425px) {
  #content-wrap {
    padding: 0 1rem;
  }
}
.sidebar {
  max-width: 15rem;
  flex-grow: 1;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .sidebar {
    flex-grow: 0;
  }
}
#left-sidebar {
  order: 1;
}
@media (max-width: 768px) {
  #left-sidebar {
    display: none;
  }
}
#right-sidebar {
  order: 3;
}
@media (max-width: 1024px) {
  #right-sidebar {
    display: none;
  }
}
.archive-item {
  position: relative;
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-left: solid;
  border-width: 0.2rem;
  border-color: transparent;
  transition: border-color 0.3s, transform 0.5s;
}
:root[dir='rtl'] .archive-item {
  border-left: unset;
  border-right: solid;
  border-color: transparent;
}
.archive-item:hover {
  transform: translateX(-0.4rem);
}
:root[data-theme='light'] .archive-item:hover {
  border-color: var(--theme-light-main);
}
:root[data-theme='dark'] .archive-item:hover {
  border-color: var(--theme-dark-main);
}
:root[dir='rtl'] .archive-item:hover {
  transform: translateX(0.4rem);
}
.archive-item .anchor {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  cursor: unset;
}
.archive-item .meta {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}
.archive-item .meta > * {
  flex-shrink: 0;
}
.archive-item .meta .date {
  margin-right: 4rem;
}
:root[dir='rtl'] .archive-item .meta .date {
  margin-left: 4rem;
  margin-right: unset;
}
:root[data-theme='light'] .archive-item .meta .date {
  color: var(--theme-light-foreground-dim);
}
:root[data-theme='dark'] .archive-item .meta .date {
  color: var(--theme-dark-foreground-dim);
}
.archive-item .meta .tag {
  direction: ltr;
}
.archive-item .meta .tag a {
  position: relative;
  z-index: 1;
  font-weight: bold;
  margin-left: 1rem;
}
.archive-item .meta .tag a:first-child {
  margin-left: 0;
}
.archive-item .title {
  font-size: x-large;
}
.archive-item .excerpt a {
  z-index: 1;
  position: relative;
  transition: color 0.3s;
}
:root[data-theme='light'] .archive-item .excerpt {
  color: var(--theme-light-foreground-dim);
}
:root[data-theme='dark'] .archive-item .excerpt {
  color: var(--theme-dark-foreground-dim);
}
.archive-label {
  font-size: large;
  font-weight: bold;
  margin: 2rem 0;
}
:root[data-theme='light'] .archive-label {
  color: var(--theme-light-main);
}
:root[data-theme='dark'] .archive-label {
  color: var(--theme-dark-main);
}
#paginator {
  display: flex;
  justify-content: center;
  font-size: x-large;
  margin: 2rem 0;
  text-align: center;
}
#paginator > * {
  text-decoration: none;
  color: inherit;
  min-width: 2rem;
}
#paginator .extend,
#paginator .page-number:not(.current) {
  transition: color 0.3s;
}
:root[data-theme='light'] #paginator .extend,
:root[data-theme='light'] #paginator .page-number:not(.current) {
  color: var(--theme-light-main-dim);
}
:root[data-theme='dark'] #paginator .extend,
:root[data-theme='dark'] #paginator .page-number:not(.current) {
  color: var(--theme-dark-main-dim);
}
:root[data-theme='light'] #paginator .extend:hover,
:root[data-theme='light'] #paginator .page-number:not(.current):hover {
  color: var(--theme-light-main);
}
:root[data-theme='dark'] #paginator .extend:hover,
:root[data-theme='dark'] #paginator .page-number:not(.current):hover {
  color: var(--theme-dark-main);
}
#paginator .space {
  cursor: default;
}
#paginator .page-number.current {
  cursor: default;
  text-decoration: underline;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(128, 128, 128, 0.5);
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
}
:root[data-theme='light'] ::-webkit-scrollbar-thumb {
  background: var(--theme-light-main);
}
:root[data-theme='dark'] ::-webkit-scrollbar-thumb {
  background: var(--theme-dark-main);
}
#back-to-top {
  position: fixed;
  font-size: 2rem;
  padding: 0;
  text-align: center;
  width: 3rem;
  height: 3rem;
  bottom: 2rem;
  right: 2rem;
  border: solid 2px;
  border-radius: 50%;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}
:root[data-theme='light'] #back-to-top:active {
  background-color: var(--theme-light-main);
}
:root[data-theme='dark'] #back-to-top:active {
  background-color: var(--theme-dark-main);
}
#back-to-top:focus {
  outline: none;
}
:root[data-theme='light'] #back-to-top {
  border-color: var(--theme-light-main);
}
:root[data-theme='dark'] #back-to-top {
  border-color: var(--theme-dark-main);
}
.sidebar-widget {
  margin: 1rem 1.5rem 4rem 1.5rem;
  min-width: 13rem;
}
.sidebar-widget .widget-title {
  font-size: large;
  font-weight: bold;
}
.sidebar-widget .archive-list,
.sidebar-widget .category-list,
.sidebar-widget .tag-list {
  display: block;
  margin: 1rem;
  padding-inline-start: 0;
}
.sidebar-widget .archive-list .archive-list-item,
.sidebar-widget .category-list .archive-list-item,
.sidebar-widget .tag-list .archive-list-item,
.sidebar-widget .archive-list .category-list-item,
.sidebar-widget .category-list .category-list-item,
.sidebar-widget .tag-list .category-list-item,
.sidebar-widget .archive-list .tag-list-item,
.sidebar-widget .category-list .tag-list-item,
.sidebar-widget .tag-list .tag-list-item {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 1rem 0;
  word-break: break-word;
}
.sidebar-widget .archive-list .archive-list-item .archive-list-count,
.sidebar-widget .category-list .archive-list-item .archive-list-count,
.sidebar-widget .tag-list .archive-list-item .archive-list-count,
.sidebar-widget .archive-list .category-list-item .archive-list-count,
.sidebar-widget .category-list .category-list-item .archive-list-count,
.sidebar-widget .tag-list .category-list-item .archive-list-count,
.sidebar-widget .archive-list .tag-list-item .archive-list-count,
.sidebar-widget .category-list .tag-list-item .archive-list-count,
.sidebar-widget .tag-list .tag-list-item .archive-list-count,
.sidebar-widget .archive-list .archive-list-item .category-list-count,
.sidebar-widget .category-list .archive-list-item .category-list-count,
.sidebar-widget .tag-list .archive-list-item .category-list-count,
.sidebar-widget .archive-list .category-list-item .category-list-count,
.sidebar-widget .category-list .category-list-item .category-list-count,
.sidebar-widget .tag-list .category-list-item .category-list-count,
.sidebar-widget .archive-list .tag-list-item .category-list-count,
.sidebar-widget .category-list .tag-list-item .category-list-count,
.sidebar-widget .tag-list .tag-list-item .category-list-count,
.sidebar-widget .archive-list .archive-list-item .tag-list-count,
.sidebar-widget .category-list .archive-list-item .tag-list-count,
.sidebar-widget .tag-list .archive-list-item .tag-list-count,
.sidebar-widget .archive-list .category-list-item .tag-list-count,
.sidebar-widget .category-list .category-list-item .tag-list-count,
.sidebar-widget .tag-list .category-list-item .tag-list-count,
.sidebar-widget .archive-list .tag-list-item .tag-list-count,
.sidebar-widget .category-list .tag-list-item .tag-list-count,
.sidebar-widget .tag-list .tag-list-item .tag-list-count {
  font-size: small;
  padding: 0.1rem;
  border-radius: 0.2rem;
  vertical-align: baseline;
  background: rgba(180, 180, 180, 0.2);
}
:root[dir='rtl'] .sidebar-widget .archive-list .archive-list-item .archive-list-count,
:root[dir='rtl'] .sidebar-widget .category-list .archive-list-item .archive-list-count,
:root[dir='rtl'] .sidebar-widget .tag-list .archive-list-item .archive-list-count,
:root[dir='rtl'] .sidebar-widget .archive-list .category-list-item .archive-list-count,
:root[dir='rtl'] .sidebar-widget .category-list .category-list-item .archive-list-count,
:root[dir='rtl'] .sidebar-widget .tag-list .category-list-item .archive-list-count,
:root[dir='rtl'] .sidebar-widget .archive-list .tag-list-item .archive-list-count,
:root[dir='rtl'] .sidebar-widget .category-list .tag-list-item .archive-list-count,
:root[dir='rtl'] .sidebar-widget .tag-list .tag-list-item .archive-list-count,
:root[dir='rtl'] .sidebar-widget .archive-list .archive-list-item .category-list-count,
:root[dir='rtl'] .sidebar-widget .category-list .archive-list-item .category-list-count,
:root[dir='rtl'] .sidebar-widget .tag-list .archive-list-item .category-list-count,
:root[dir='rtl'] .sidebar-widget .archive-list .category-list-item .category-list-count,
:root[dir='rtl'] .sidebar-widget .category-list .category-list-item .category-list-count,
:root[dir='rtl'] .sidebar-widget .tag-list .category-list-item .category-list-count,
:root[dir='rtl'] .sidebar-widget .archive-list .tag-list-item .category-list-count,
:root[dir='rtl'] .sidebar-widget .category-list .tag-list-item .category-list-count,
:root[dir='rtl'] .sidebar-widget .tag-list .tag-list-item .category-list-count,
:root[dir='rtl'] .sidebar-widget .archive-list .archive-list-item .tag-list-count,
:root[dir='rtl'] .sidebar-widget .category-list .archive-list-item .tag-list-count,
:root[dir='rtl'] .sidebar-widget .tag-list .archive-list-item .tag-list-count,
:root[dir='rtl'] .sidebar-widget .archive-list .category-list-item .tag-list-count,
:root[dir='rtl'] .sidebar-widget .category-list .category-list-item .tag-list-count,
:root[dir='rtl'] .sidebar-widget .tag-list .category-list-item .tag-list-count,
:root[dir='rtl'] .sidebar-widget .archive-list .tag-list-item .tag-list-count,
:root[dir='rtl'] .sidebar-widget .category-list .tag-list-item .tag-list-count,
:root[dir='rtl'] .sidebar-widget .tag-list .tag-list-item .tag-list-count {
  left: 0;
  right: unset;
}
:root[data-theme='light'] .sidebar-widget .archive-list .archive-list-item .archive-list-count,
:root[data-theme='light'] .sidebar-widget .category-list .archive-list-item .archive-list-count,
:root[data-theme='light'] .sidebar-widget .tag-list .archive-list-item .archive-list-count,
:root[data-theme='light'] .sidebar-widget .archive-list .category-list-item .archive-list-count,
:root[data-theme='light'] .sidebar-widget .category-list .category-list-item .archive-list-count,
:root[data-theme='light'] .sidebar-widget .tag-list .category-list-item .archive-list-count,
:root[data-theme='light'] .sidebar-widget .archive-list .tag-list-item .archive-list-count,
:root[data-theme='light'] .sidebar-widget .category-list .tag-list-item .archive-list-count,
:root[data-theme='light'] .sidebar-widget .tag-list .tag-list-item .archive-list-count,
:root[data-theme='light'] .sidebar-widget .archive-list .archive-list-item .category-list-count,
:root[data-theme='light'] .sidebar-widget .category-list .archive-list-item .category-list-count,
:root[data-theme='light'] .sidebar-widget .tag-list .archive-list-item .category-list-count,
:root[data-theme='light'] .sidebar-widget .archive-list .category-list-item .category-list-count,
:root[data-theme='light'] .sidebar-widget .category-list .category-list-item .category-list-count,
:root[data-theme='light'] .sidebar-widget .tag-list .category-list-item .category-list-count,
:root[data-theme='light'] .sidebar-widget .archive-list .tag-list-item .category-list-count,
:root[data-theme='light'] .sidebar-widget .category-list .tag-list-item .category-list-count,
:root[data-theme='light'] .sidebar-widget .tag-list .tag-list-item .category-list-count,
:root[data-theme='light'] .sidebar-widget .archive-list .archive-list-item .tag-list-count,
:root[data-theme='light'] .sidebar-widget .category-list .archive-list-item .tag-list-count,
:root[data-theme='light'] .sidebar-widget .tag-list .archive-list-item .tag-list-count,
:root[data-theme='light'] .sidebar-widget .archive-list .category-list-item .tag-list-count,
:root[data-theme='light'] .sidebar-widget .category-list .category-list-item .tag-list-count,
:root[data-theme='light'] .sidebar-widget .tag-list .category-list-item .tag-list-count,
:root[data-theme='light'] .sidebar-widget .archive-list .tag-list-item .tag-list-count,
:root[data-theme='light'] .sidebar-widget .category-list .tag-list-item .tag-list-count,
:root[data-theme='light'] .sidebar-widget .tag-list .tag-list-item .tag-list-count {
  color: var(--theme-light-foreground-dim);
}
:root[data-theme='dark'] .sidebar-widget .archive-list .archive-list-item .archive-list-count,
:root[data-theme='dark'] .sidebar-widget .category-list .archive-list-item .archive-list-count,
:root[data-theme='dark'] .sidebar-widget .tag-list .archive-list-item .archive-list-count,
:root[data-theme='dark'] .sidebar-widget .archive-list .category-list-item .archive-list-count,
:root[data-theme='dark'] .sidebar-widget .category-list .category-list-item .archive-list-count,
:root[data-theme='dark'] .sidebar-widget .tag-list .category-list-item .archive-list-count,
:root[data-theme='dark'] .sidebar-widget .archive-list .tag-list-item .archive-list-count,
:root[data-theme='dark'] .sidebar-widget .category-list .tag-list-item .archive-list-count,
:root[data-theme='dark'] .sidebar-widget .tag-list .tag-list-item .archive-list-count,
:root[data-theme='dark'] .sidebar-widget .archive-list .archive-list-item .category-list-count,
:root[data-theme='dark'] .sidebar-widget .category-list .archive-list-item .category-list-count,
:root[data-theme='dark'] .sidebar-widget .tag-list .archive-list-item .category-list-count,
:root[data-theme='dark'] .sidebar-widget .archive-list .category-list-item .category-list-count,
:root[data-theme='dark'] .sidebar-widget .category-list .category-list-item .category-list-count,
:root[data-theme='dark'] .sidebar-widget .tag-list .category-list-item .category-list-count,
:root[data-theme='dark'] .sidebar-widget .archive-list .tag-list-item .category-list-count,
:root[data-theme='dark'] .sidebar-widget .category-list .tag-list-item .category-list-count,
:root[data-theme='dark'] .sidebar-widget .tag-list .tag-list-item .category-list-count,
:root[data-theme='dark'] .sidebar-widget .archive-list .archive-list-item .tag-list-count,
:root[data-theme='dark'] .sidebar-widget .category-list .archive-list-item .tag-list-count,
:root[data-theme='dark'] .sidebar-widget .tag-list .archive-list-item .tag-list-count,
:root[data-theme='dark'] .sidebar-widget .archive-list .category-list-item .tag-list-count,
:root[data-theme='dark'] .sidebar-widget .category-list .category-list-item .tag-list-count,
:root[data-theme='dark'] .sidebar-widget .tag-list .category-list-item .tag-list-count,
:root[data-theme='dark'] .sidebar-widget .archive-list .tag-list-item .tag-list-count,
:root[data-theme='dark'] .sidebar-widget .category-list .tag-list-item .tag-list-count,
:root[data-theme='dark'] .sidebar-widget .tag-list .tag-list-item .tag-list-count {
  color: var(--theme-dark-foreground-dim);
}
.sidebar-widget .archive-list .archive-list-item .category-list-child,
.sidebar-widget .category-list .archive-list-item .category-list-child,
.sidebar-widget .tag-list .archive-list-item .category-list-child,
.sidebar-widget .archive-list .category-list-item .category-list-child,
.sidebar-widget .category-list .category-list-item .category-list-child,
.sidebar-widget .tag-list .category-list-item .category-list-child,
.sidebar-widget .archive-list .tag-list-item .category-list-child,
.sidebar-widget .category-list .tag-list-item .category-list-child,
.sidebar-widget .tag-list .tag-list-item .category-list-child {
  padding-inline-start: 0;
}
.sidebar-widget .tagcloud {
  margin: 1rem;
}
#widget-profile {
  display: flex;
  flex-direction: column;
}
#widget-profile > * {
  align-self: center;
}
#widget-profile img#profile-avatar {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  vertical-align: middle;
}
#widget-profile #profile-name {
  margin: 2rem 0;
  font-size: x-large;
  font-weight: bold;
}
#widget-profile #profile-bio {
  line-height: 1.5;
}
#widget-profile #profile-bio p {
  margin: 0;
}
#widget-profile hr {
  width: 100%;
  margin: 1rem 0;
  opacity: 0.3;
}
#widget-profile .social-list {
  font-size: x-large;
  line-height: 1.5;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}
#widget-profile .social-list a {
  color: inherit;
}
.social-list {
  user-select: none;
}
#category-labels .category-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
#category-labels .category-list > * {
  margin-right: 1rem;
}
:root[dir='rtl'] #category-labels .category-list > * {
  margin-left: 1rem;
  margin-right: unset;
}
#category-labels .category-list .category-list-item {
  padding: 0.5rem;
  border-radius: 0.2rem;
  background: rgba(180, 180, 180, 0.2);
  margin: 0.5rem;
}
#category-labels .category-list .category-list-count {
  padding: 0 0.2rem;
  font-size: smaller;
  vertical-align: top;
}
#tagcloud {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#tagcloud a {
  margin: 0.5rem;
}
#header .header-info {
  padding: 0 2rem 1rem 2rem !important;
  cursor: default;
  line-height: 1.5 !important;
}
#header .header-info #post-header-title {
  align-self: center;
  font-size: xx-large;
  margin: 1rem;
}
#header .header-info #post-header-date {
  text-align: end;
}
#header .header-info #post-header-word-count {
  text-align: end;
  font-size: small;
}
#content-wrap {
  max-width: 1024px !important;
}
#post-content {
  margin-bottom: 4rem;
  line-height: 2;
  overflow-wrap: break-word;
}
#post-content h1,
#post-content h2,
#post-content h3,
#post-content h4,
#post-content h5,
#post-content h6 {
  font-weight: bolder;
}
#post-content h1 .headerlink,
#post-content h2 .headerlink,
#post-content h3 .headerlink,
#post-content h4 .headerlink,
#post-content h5 .headerlink,
#post-content h6 .headerlink {
  position: relative;
}
#post-content h1 .headerlink::before,
#post-content h2 .headerlink::before,
#post-content h3 .headerlink::before,
#post-content h4 .headerlink::before,
#post-content h5 .headerlink::before,
#post-content h6 .headerlink::before {
  content: "§";
  position: absolute;
  right: 0.2rem;
  opacity: 0;
  transition: opacity 0.3s;
}
#post-content h1:hover .headerlink::before,
#post-content h2:hover .headerlink::before,
#post-content h3:hover .headerlink::before,
#post-content h4:hover .headerlink::before,
#post-content h5:hover .headerlink::before,
#post-content h6:hover .headerlink::before {
  opacity: 1;
}
#post-content em {
  font-style: italic;
}
#post-content strong {
  font-weight: bold;
}
#post-content del {
  text-decoration: line-through;
}
#post-content ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
  line-height: initial;
}
#post-content li {
  display: list-item;
  text-align: -webkit-match-parent;
}
#post-content kbd {
  font-family: monospace;
}
#post-content dl,
#post-content dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}
#post-content dl dd,
#post-content dt dd {
  padding: 0 16px;
  margin-bottom: 16px;
}
#post-content dl pre,
#post-content dt pre {
  padding: 10px;
  overflow: auto;
  font-size: 90%;
  line-height: 1.8;
  border-radius: 5px;
}
#post-content > p {
  margin: 1rem 0;
}
#post-content > figure {
  margin: 1.5rem 0;
}
#post-content img {
  max-width: 90%;
  display: block;
  margin: auto;
}
#post-content > hr {
  opacity: 0.5;
}
#post-content > table {
  border-spacing: 0;
  border-collapse: collapse;
}
#post-content > table td,
#post-content > table th {
  padding: 0.4rem;
  border: 1px solid #b4b4b4;
}
#post-content > table tr:nth-child(2n) {
  background: rgba(205, 205, 205, 0.1);
}
#post-content > blockquote {
  padding: 1rem;
  border-left: 0.25em solid #b4b4b4;
  background: rgba(205, 205, 205, 0.2);
  border-radius: 3px;
}
#post-content > blockquote footer > * {
  margin-right: 0.5rem;
}
#post-content code {
  font-family: monospace;
}
#post-content code:not(.markdown):not(.hljs):not(.highlight) {
  border-radius: 0.4rem;
  padding: 0.2rem;
  background: rgba(205, 205, 205, 0.2);
}
:root[data-theme='light'] #post-content .highlight .gutter {
  color: var(--theme-light-foreground-dim);
}
:root[data-theme='dark'] #post-content .highlight .gutter {
  color: var(--theme-dark-foreground-dim);
}
#post-content .highlight code {
  border-radius: 5px;
  direction: ltr;
}
#post-content .highlight table {
  display: block;
  width: 100%;
  overflow: auto;
}
#post-content .highlight mark {
  background: rgba(255, 255, 0, 0.5);
}
#post-paginator {
  display: flex;
  margin: 2rem 1rem;
  font-size: large;
}
:root[data-theme='light'] #post-paginator {
  color: var(--theme-light-main-dim);
}
:root[data-theme='dark'] #post-paginator {
  color: var(--theme-dark-main-dim);
}
:root[data-theme='light'] #post-paginator > *:hover {
  color: var(--theme-light-main);
}
:root[data-theme='dark'] #post-paginator > *:hover {
  color: var(--theme-dark-main);
}
#post-paginator > * {
  color: inherit;
  transition: color 0.3s;
}
#post-paginator .nav-arrow {
  font-size: x-large;
}
#post-paginator #nav-post-prev {
  margin-right: auto;
  text-decoration: none;
  text-align: left;
}
:root[dir='rtl'] #post-paginator #nav-post-prev {
  margin-left: auto;
  margin-right: unset;
  text-align: right;
}
#post-paginator #nav-post-next {
  margin-left: auto;
  text-decoration: none;
  text-align: right;
}
:root[dir='rtl'] #post-paginator #nav-post-next {
  margin-left: unset;
  margin-right: auto;
  text-align: left;
}
#outdated-warning {
  font-size: small;
  color: #e3af00;
  background: rgba(255, 214, 0, 0.1);
  border: solid 2px #e3af00;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
}
#widget-toc {
  position: sticky;
  top: 1rem;
  line-height: 1.5;
}
#widget-toc ol {
  list-style: none;
  padding-inline-start: 0.5rem;
}
#widget-toc li {
  display: block;
}
#copyright-warning {
  font-size: small;
  color: #e3af00;
  background: rgba(255, 214, 0, 0.1);
  border: solid 2px #e3af00;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-top: 4rem;
}
#post-gallery img {
  width: 100%;
  padding: 1rem;
}
/*# sourceMappingURL=post.css.map */