<% const option = {
    type: theme.sidebar.category.type,
    order_by: theme.sidebar.category.order_by,
    order: theme.sidebar.category.order,
    show_count: theme.sidebar.category.show_count,
    depth: -1
} %>
<div id="widget-category" class="sidebar-widget">
    <div class="widget-title"><%- titlecase(__("category")) %></div>
    <%- list_categories(option) %>
</div>